body {
    margin: 0;
    background-color: #1A1A1D;
    font-family: sans-serif;
    color: snow;
}

#form1 {
    margin-left:30%;
}

#form1_input {
    width: 50%;
    margin-top: 10px;
}

#middle_h1 {
    font-size: 40px;
    font-family: cursive;
    text-align: center;
    color: #C3073F;
}

#middle_h3 {
    margin-left: 40%;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0 auto;
    width: 50%;
    border: 2px solid black;
}

th{
    height: 30px;
}

th, td{
    background-color: #950740;
    text-align: center;
}

td{
    word-wrap: break-word;
    padding: 5px;
}

caption{
    color: #C3073F;
    font-size: 40px;
    font-family:cursive;
}

#flash_h2{
    text-align: center;
}

a{
    color: black;
}

button{
    border: 1px solid black;
    width: 70px;
    height: 20px;
    background-color: #950740;
}